<div class="container">
  <div class="filter__container">
    <mat-form-field>
      <mat-label>Filtrar por Motorista</mat-label>
      <mat-select 
        [(ngModel)]="selectedDriver" 
        name="driver"
        (selectionChange)="applyFilter()">
        @for (driver of driverNamesList; track $index) {
          <mat-option [value]="driver">
            {{ driver }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Filtrar por Status</mat-label>
      <mat-select 
        [(ngModel)]="selectedStatus" 
        name="status"
        (selectionChange)="applyFilter()">
        @for (status of statusList; track $index) {
          <mat-option
            [value]="status">
            {{ status }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-flat-button (click)="clearFilters()">Limpar Filtros</button>
  </div>
  <mat-card class="card__container" appearance="outlined">
    <mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="motorista">
        <mat-header-cell *matHeaderCellDef> Motorista </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element?.motorista?.nome}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="cliente_origem_bairro">
        <mat-header-cell *matHeaderCellDef> Bairro Origem </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element?.cliente_origem?.bairro}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="cliente_destino_bairro">
        <mat-header-cell *matHeaderCellDef> Bairro Destino </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element?.cliente_destino?.bairro}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="status_entrega">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status_entrega}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator 
      [pageSizeOptions]="[10, 20, 40]" 
      showFirstLastButtons 
      aria-label="Selecione a página">
    </mat-paginator>
  </mat-card>
</div>