$gray-900: rgba(54, 54, 54, .95);
$yellow-500: #feac0f;

html, body { height: 100%; }
body { margin: 0; }
body * {
  font-family: "Roboto", sans-serif;
}

header {
  height: 10vh;
  width: 100%;
  background: $gray-900;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

mat-card.card__container {
  border-radius: 4px;
  background: #fff;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

