$gray-200: #c2c2c2;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

header {
  height: 5vh;
  background: $gray-200;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

// .card-container {
//   max-width: 320px;
// }