<mat-card class="card__container" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="card__title">Entregas por bairro</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> Bairro </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{  element?.name  }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="deliveryTotal">
        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element?.deliveryTotal }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="completedTotal">
        <mat-header-cell *matHeaderCellDef> Realizadas </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element?.completedTotal }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>